<div class="flex flex-col h-screen overflow-hidden">
    <!-- #region: Brandingbar -->
    <nav class="bg-primary p-4 flex justify-between items-center fixed w-full top-0 z-50 !navbar" #brandingbar>
        <div class="flex items-center gap-4">

            <!-- #region: Left sidenav toggle button -->
            <button class="flex items-center px-4 py-2 hover:bg-neutral rounded transition-colors"
                    (click)="toggleSidenav(sidebarLeftPostion)">
                <ng-container *ngIf="leftSidenavState === sidebarClosed">
                    <svg class="fill-accent" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                         width="24px">
                        <path d="M360-120v-720h80v720h-80Zm160-160v-400l200 200-200 200Z" />
                    </svg>
                </ng-container>
                <ng-container *ngIf="leftSidenavState === sidebarIcons">
                    <svg class="fill-accent" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                         width="24px">
                        <path d="M440-280v-400L240-480l200 200Zm80 160h80v-720h-80v720Z" />
                    </svg>
                </ng-container>
                <ng-container *ngIf="leftSidenavState === sidebarExpanded">
                    <svg class="fill-accent" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                         width="24px">
                        <path
                              d="M240-120v-120H120v-80h200v200h-80Zm400 0v-200h200v80H720v120h-80ZM120-640v-80h120v-120h80v200H120Zm520 0v-200h80v120h120v80H640Z" />
                    </svg>
                </ng-container>
            </button>
            <!-- #endregion -->

            <!-- #region: Organization logo -->
            <a class="btn btn-ghost normal-case text-xl hidden md:flex"><img
                     [src]="config?.brandingbar?.organizationLogo" alt="User Profile Image" style="height: 25px;" /></a>
            <!-- #endregion -->

            <!-- #region: Application name -->
            <a
               class="text-secondary-content btn btn-ghost normal-case text-xl">{{config?.brandingbar?.applicationName}}</a>
            <!-- #endregion -->

        </div>

        <div class="navbar-end flex items-center space-x-2">
            <!-- #region: Theme selector -->
            <app-theme-selector [initialTheme]="getInitialTheme()"
                                (themeChange)="onThemeChange($event)"></app-theme-selector>
            <!-- #endregion  -->

            <!-- #region: User profile image -->
            <div class="dropdown dropdown-left z-40 hidden md:flex" *ngIf="config?.brandingbar?.userProfileImagePath">
                <button tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img [src]="config?.brandingbar?.userProfileImagePath" alt="User Profile Image" />
                    </div>
                </button>
                <ul tabindex="0" class="dropdown-content menu menu-sm bg-base-100 rounded-box mt-3 w-52 p-2 shadow">
                    <li *ngFor="let item of userProfileMenuItems">
                        <a (click)="onUserProfileMenuItemClick(item)">{{
                            item.label
                            }}</a>
                    </li>
                </ul>
            </div>
            <!-- #endregion  -->

            <!-- #region: Right sidenav toggle button -->
            <button class="flex items-center px-4 py-2 hover:bg-neutral rounded transition-colors"
                    [style.visibility]="dynamicComponent === undefined ? 'hidden' : 'visible'"
                    (click)="toggleSidenav(sidebarRightPostion)">
                <ng-container *ngIf="rightSidenavState === sidebarClosed">
                    <svg class="fill-accent" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                         width="24px">
                        <path d="M440-280v-400L240-480l200 200Zm80 160h80v-720h-80v720Z" />
                    </svg>
                </ng-container>
                <ng-container *ngIf="rightSidenavState === sidebarExpanded">
                    <svg class="fill-accent" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                         width="24px">
                        <path d="M360-120v-720h80v720h-80Zm160-160v-400l200 200-200 200Z" />
                    </svg>
                </ng-container>
            </button>
            <!-- #endregion -->

        </div>
    </nav>
    <!-- #endregion -->

    <!-- #region: SMT -->
    <div class="flex flex-grow overflow-hidden" [style.paddingTop]="brandingbar.offsetHeight+'px'">
        <!-- Left sidenav -->
        <div class="bg-primary-content transition-all duration-500 ease-in-out h-full overflow-y-auto flex-shrink-0"
             *ngIf="config?.leftSidenavMenuItems" [ngClass]="{
            'w-64': leftSidenavState === sidebarExpanded && !isSmallScreen,
            'w-40': leftSidenavState === sidebarIcons && !isSmallScreen,
            'w-full h-full': leftSidenavState === sidebarExpanded && isSmallScreen,
            'w-0 hidden': leftSidenavState === sidebarClosed
          }">
            <ul class="rounded-box menu p-0">
                <left-sidenav-items *ngFor="let item of config?.leftSidenavMenuItems" [config]="item"
                                    [sidebarStatus]="getNextSidenavState(leftSidenavState, sidebarLeftPostion)"
                                    (menuItemClicked)="onMenuItemClick($event)" />
            </ul>
        </div>

        <!-- Main Content -->
        <div class="flex-grow p-6 transition-all duration-500 overflow-hidden"
             [style.marginRight]="getRightSidenavMargin()">
            <span class="text-xl">Main</span>
            {{dynamicComponent === undefined}}
            <router-outlet></router-outlet>
        </div>

        <!-- Right sidenav -->
        <div class="bg-primary-content transition-all duration-500 ease-in-out h-full overflow-y-auto flex-shrink-0"
             *ngIf="dynamicComponent" [ngClass]="{
            'w-64': rightSidenavState === sidebarExpanded && !isSmallScreen,
            'w-full h-full': rightSidenavState === sidebarExpanded && isSmallScreen,
            'w-0 hidden': rightSidenavState === sidebarClosed
          }">
            <ng-container *ngComponentOutlet="dynamicComponent"></ng-container>
        </div>
    </div>
    <!-- #endregion -->

</div>